h1 {
  font-size: 2rem;
  font-weight: var(--fw-primary);
}

h2 {
  font-size: 1.75rem;
  font-weight: var(--fw-primary);
}

h3 {
  font-size: 1.5rem;
  font-weight: var(--fw-primary);
}

h4 {
  font-family: var(--ff-secondary);
  font-size: 1.25rem;
  font-weight: var(--fw-secondary);
}

h5 {
  font-size: 1rem;
  font-weight: 400;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
}
